<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <br>
        <h4>Schedule Appointment</h4>
      </div>
      <div class="col-md-12">
          <mat-horizontal-stepper [linear]="isLinear" #stepper="matHorizontalStepper">
            <mat-step [stepControl]="firstFormGroup">
              <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Schedule Appointment</ng-template>
                <div class="col-md-12">
                  <label>Juni Learning - Trial Session <p>50-Minutes</p></label><br>
                    <mat-form-field>
                        <input matInput [matDatepicker]="picker" placeholder="Choose a date" (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field> 
                      <mat-form-field>
                          <mat-select [(value)]="selected" placeholder="Select Time" >
                            <mat-option value="option1" *ngFor="let meetuptime of meetup">{{meetuptime}}</mat-option>
                          </mat-select>
                       </mat-form-field>                    
                </div>
                <div class="col-md-12">
                    
                </div>
                
                <div>
                  <button mat-button matStepperNext>Next</button>
                </div>
              </form>
            </mat-step>

            <mat-step [stepControl]="secondFormGroup">
              <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>Personal Information</ng-template>

                <div class="col-md-12">
                  <mat-form-field>
                    <input matInput placeholder="First Name"  required>
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput placeholder="Last Name" required>
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput placeholder="Phone"  required>
                  </mat-form-field>
                </div>

                <div class="col-md-12">
                  <mat-form-field>
                    <input matInput placeholder="Email"  required>
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput placeholder="Childs Name"  required>
                  </mat-form-field>
                  <mat-form-field>
                      <mat-select [(value)]="selected" placeholder="How did you hear about us? " >
                        <mat-option value="option1" *ngFor="let meetup of advertise">{{meetup}}</mat-option>
                      </mat-select>
                   </mat-form-field>
                </div>

                <div>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button matStepperNext>Next</button>
                </div>
              </form>
            </mat-step>
            <mat-step>
              <ng-template matStepLabel>Confirmation</ng-template>
              <div class="example-events">
                  <div>Your Appointment scheduled on: </div>
                  <div *ngFor="let e of events">{{e}}</div>
                </div>
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
              </div>
            </mat-step>
          </mat-horizontal-stepper>
      </div>
    </div>
  </div>
</section>
